  .section-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }
  
  .tagline {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  
  .description {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .feature-box {
    background: #f8f9fa;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  .feature-bg{

      background: rgba(106, 57, 58, 1);
      border-radius: 50%;
      transition: all 0.3s ease;
      height: 30px;
      width: 30px;
      text-align: center;
  }
  
  .feature-icon {
    width: 16px;
  }
  
  .feature-title {
    font-size: 1.20rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5rem;
    line-height: 28px;
    font-family: Outfit;
  }
  
  .feature-text {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Outfit';
    opacity: 0.9;
  }
  .arrowdownbtn{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
 width: 25px;
 height: 25px;
 margin-left: 7px;
 margin-top: 10px;
 text-align: center;


  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .section-title {
      font-size: 2.5rem;
    }
    
    .tagline {
      font-size: 2rem;
    }
    
    .description {
      font-size: 1.1rem;
    }
  }



  