.contact-section {
    /* padding: 50px 0; */
    /* background-color: #2c1b18; Dark background as in the image */
}

.contact-input,
.contact-textarea {
    background-color: rgba(96, 61, 62, 1); /* Dark background for form fields */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    color: #ffffff; /* White text */
    font-size: 1rem;
    padding: 15px 20px;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    color: rgba(255, 255, 255, 0.6); /* White placeholder text */
    opacity: 0.7; /* Slightly transparent placeholder */
    font-weight: 400;
    font-size: 0.9rem;
}

.contact-textarea {
    resize: none; /* Prevent resizing of the textarea */
}



.contactpara{
    font-family: 'Outfit';
    font-weight: 400;
    line-height: 23px;
}
.contact-vishwa{
    line-height: 23px;


}
.contact-vishwa-icons{
    background-color: rgba(45, 26, 25, 1);
    padding: 4%;
    
    /* height: 45px; */
}
.contact-vishwa-title{
    font-weight: 600;
    font-family: 'Outfit';
    font-size: 1rem;
}
.contact-vishwa-desc{
    font-weight: 400;
    font-size: 0.9rem;
    font-family: 'Outfit';
}
.contact-social-media{
    background-color:rgba(241, 238, 216, 0.8);
    /* padding: 4px 8px 4px 8px; */
height: 40px;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
    border-radius: 50%;
}
.copyright{
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
}