.contact-section {
    /* padding: 50px 0; */
    /* background-color: #2c1b18; Dark background as in the image */
}

.contact-input,
.contact-textarea {
    background-color: rgba(96, 61, 62, 1) !important; 
    border: none !important; 
    border-radius: 10px !important; 
    color: #ffffff !important; 
    font-size: 1rem !important;
    padding: 15px 20px !important;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    opacity: 0.7; /* Slightly transparent placeholder */
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 0.9rem;
}

.contact-textarea {
    resize: none; /* Prevent resizing of the textarea */
}



.contactpara{
    font-family: 'Outfit';
    font-weight: 400;
    line-height: 23px;
}
.contact-vishwa{
    line-height: 23px;
    
}
.contact-vishwa-mobile-view{
    line-height: 23px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-vishwa-icons{
    background-color: rgba(45, 26, 25, 1);
    padding: 4%;
    /* height: auto; */
    
    /* height: 45px; */
}
.contact-vishwa-icons-mobile-view{
    background-color: rgba(45, 26, 25, 1);
    padding: 4%;
    width: auto;
    border-radius: 20%;
}
.contact-vishwa-title{
    font-weight: 600;
    font-family: 'Outfit';
    font-size: 1rem;
}
.contact-vishwa-desc{
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-style: normal;
    word-break: break-all;
    display: inline-block;
    font-family: 'Outfit';
    /* text-align: center; */
}
.contact-social-media{
    background-color:rgba(241, 238, 216, 0.8);
    /* padding: 4px 8px 4px 8px; */
height: 40px;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
    border-radius: 50%;
}
.copyright{
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
}

.content-mobile-view{
    display: none;
}


 @media screen and (max-width: 900px) {
    .content-mobile-view{
        display: block;
    }
    .content-desktop-view{
        display: none;
    }
    .footer-mobile-view{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
 }
/* --------------------------------------------------- mobile css start here --------------------------------------------------- */

/* Show only on mobile screens (max-width: 768px) */
  /* .mobile-coming-soon { */
    /* display: block; */
  /* } */
  
  /* Optionally hide the full Plans section */
  /* .maincontainer {
    display: none;
  }
} */

/* --------------------------------------------------- mobile css end here --------------------------------------------------- */