.maincontainer{
    background: linear-gradient(179.88deg, #420506 0.1%, #350608 40.02%, #170203 99.91%);
    position: absolute !important;
    color: #F5F5F5 !important;
    min-height: 100vh !important;
    padding-bottom: 4%;
    width: 100% !important; 
}
.content{
    position: relative;
  }

.backgroundcolorcontent{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.heroheading-landingpage{
  background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  font-family: 'TT Nooks Trial';
  text-align: left !important;
  font-weight: 700 !important;
  line-height: 2.9rem !important;
  font-size: 2.7rem !important;
}
  .heroheadingpara{
    /* color: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%); */
    background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Outfit';
    letter-spacing: 4% !important;
    line-height: 30px;
    text-align: center !important;
    font-weight: 500;
    font-size: 1.3rem;
    width: 28%;
  }
.goldBtn{
  background: linear-gradient(96.44deg, #E7C369 9.54%, #F8EFB2 66.37%, #C99C45 94.08%);
 border-radius: 100px;
 padding: 5px 23px 5px 25px;
 border: none;
 font-size: 1rem;
 font-weight: 400;
 color: black;
}

.goldBtn-mobile-view{
   background: linear-gradient(96.44deg, #E7C369 9.54%, #F8EFB2 66.37%, #C99C45 94.08%);
   border-radius: 100px;
   padding: 5px 23px 5px 25px;
   border: none;
   font-size: 0.9rem;
   font-weight: 400;
   color: black;
}

.headingLandingpage{
  margin-top: 8%;
  margin-bottom: 3%;
}


.mobile-coming-soon {
  display: none;
  text-align: center;
  padding: 1rem;
  background-color: #fffbe6;
  color: #b38f00;
  font-weight: 600;
  border: 2px dashed #ffcc00;
  border-radius: 8px;
  margin: 1rem;
}
.mainsecation{
  position: absolute;
  bottom: 2%;
  right: 1%;
  height: 47vh;
  width: 30vw;
  /* background-color: red; */
  padding-right: 2%;
}
.heroheadingmainsecation{
  background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: right;
  font-family:TT Nooks Trial !important;
  font-weight: 700;
  line-height: 3.6rem !important;
  font-size: 3.3rem;
}

.heroparamainsecation{
  text-align: right;
  font-family: 'Outfit';
  font-weight: 400;
  font-weight: 1rem;
}

.btn-main-home-secation-mobile-view{
  display: flex;
  justify-content: end;
  margin-top: 8%;
}

.home-goldBtn{
  padding: 8px 30px 8px 30px;
}
@media (max-width:2000px) and (min-width:900px) {
  #main-desktop-section-padding{
    padding: 0px 70px 0px 70px !important;
  }
}
@media (max-width:900px) and (min-width:100px) {
  #main-desktop-section-padding{
    padding: 0px 30px 0px 30px !important;
  }
}

/* macBook air */
@media screen and (max-width: 1280px) {
  .mainsecation{
    position: absolute;
    bottom: 14% !important;
    right: 1%;
    padding-right: 2%;
}
.heroheadingmainsecation{
  font-size: 2.8rem !important;
  line-height: 3rem !important;
}
.heroparamainsecation{
  text-align: right;
  font-family: 'Outfit';
  font-weight: 400;
}
.btn-main-home-secation{
  margin-top: 8% !important;
}
.btn-main-home-secation{
  display: flex;
  justify-content: end;
  margin-top: 5%;
}
}

/* MacBook Pro 14 */
@media screen and (max-width: 1512px) {
  .mainsecation{
    position: absolute;
    bottom: 8% !important;
    right: 1%;
    padding-right: 2%;
}



}

/* macBook pro 16 */
@media screen and (min-width: 1728px) {
  .mainsecation{
    position: absolute;
    bottom: 4% !important;
    right: 1%;
    padding-right: 2%;
}
.heroheadingmainsecation{
  font-size: 4rem !important;
  line-height: 4.2rem !important;
}
.heroparamainsecation{
  font-size: 1.3rem !important;
}

.home-goldBtn{
  padding: 12px 40px 12px 40px !important;
}

}

/* desktop */
@media screen and (max-width: 1440px) {
  .mainsecation{
    position: absolute;
    bottom: 4% !important;
    right: 1%;
    padding-right: 2%;
}
}

/* TV */
@media screen and (max-width: 1280px) {

}
.content-mobile-view{
  display: none;
    }
/* --------------------------------------------------- mobile css start here --------------------------------------------------- */

/* Show only on mobile screens (max-width: 768px) */
@media screen and (max-width: 900px) {
 .content{
  display: none;
 }
  .content-mobile-view{
   display: block;
   position: relative;

 }
 .mainsecation-mobile-view{
    position: absolute;
    bottom: 10px;
    right: 6px;
    height: 35vh !important;
    padding-right: 5px;
 }
  .backgroundcolorcontent-mobile-view{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .heroheadingmainsecation-mobile-view {
    background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: right;
    font-family:TT Nooks Trial !important;
    font-weight: 700;
    line-height: 1.7rem !important;
    font-size: 1.8rem;
  }
  .heroparamainsecation-mobile-view {
    text-align: right;
    font-family: 'Outfit';
    font-weight: 400;
    line-height: 1.2; /* Adjusted for better readability */
    font-size: 0.9rem; /* Fixed property name (was 'font-weight') */
    white-space: normal; /* Default value, ensures text wraps */
    width: 100%; /* Ensure the paragraph takes full width of its container */
    padding: 2px;
  }
  
  .hero-text-container {
    display: flex;
    justify-content: flex-end; /* Aligns child to right */
  }
  
  .btn-main-home-secation-mobile-view{
    /* .btn-main-home-secation{ */
      display: flex;
      justify-content: end;
      margin-top: 2%;
    /* } */
  }
  .home-goldBtn-mobile-view{
      padding: 6px 20px 6px 20px;    
  }
}


/* --------------------------------------------------- mobile css end here --------------------------------------------------- */
