.maincontainer{
    background: linear-gradient(179.88deg, #420506 0.1%, #350608 40.02%, #170203 99.91%);
    position: absolute !important;
    color: #F5F5F5 !important;
    min-height: 100vh !important;
    padding-bottom: 4%;
    width: 100% !important; 
}
.content{
    position: relative;

  }
.mainsecation{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-right: 20px;
}
  .heroheading{
    background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'TT Nooks Trial';
    letter-spacing: 4% !important;
    line-height: 45px;
    font-weight: 700;
    line-height: 48px;
    font-size: 2rem;
    
}
  .heroheadingpara{
    /* color: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%); */
    background: linear-gradient(91.4deg, #E8C66E 0%, #F5E8A6 50%, #CDA44F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Outfit';
    letter-spacing: 4% !important;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    width: 28%;
    
}
.goldBtn{
  background: linear-gradient(96.44deg, #E7C369 9.54%, #F8EFB2 66.37%, #C99C45 94.08%);
 border-radius: 100px;
 padding: 5px 25px 5px 25px;
 border: none;
 font-size: 1rem;
 font-weight: 400;
 color: black;
}
.headingLandingpage{
  margin-top: 8%;
  letter-spacing: 0%;
  line-height: 18px;
  margin-bottom: 3%;
}


.mobile-coming-soon {
  display: none;
  text-align: center;
  padding: 1rem;
  background-color: #fffbe6;
  color: #b38f00;
  font-weight: 600;
  border: 2px dashed #ffcc00;
  border-radius: 8px;
  margin: 1rem;
}

/* Show only on mobile screens (max-width: 768px) */
@media screen and (max-width: 900px) {
  .mobile-coming-soon {
    display: block;
  }

  /* Optionally hide the full Plans section */
  .maincontainer {
    display: none;
  }
}
