

.section-subtitle {
    font-size: 1.5rem;
    color: #ffffff; 
    margin-bottom: 10px;
    text-align: center;
}



.plan-image {
    width: 55vmax; 
    margin-left: -30px;
    padding-bottom: 15%;
    height: auto;
}
.palgroup-container{
    display: flex;
    gap: 20px;
}



.plans-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin-top: 8%;
    width: 30% !important;
    /* background-color: #d4af37; */
}


.custom-toggle-wrapper {
  background-color: #3d1212; /* Outer dark background */
  border-radius: 999px;
  /* padding: 4px; */
}

.custom-toggle-btn {
  background-color: transparent;
  color: #e6dfd0;
  border: none;
  padding: 10px 60px;
  border-radius: 999px;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 100px;
}

.custom-toggle-btn.active {
  background-color: #f2eeda;
  color: #000;
  font-weight: 700;
}



.plans-description {
    color: #ffffff; /* White color for the description */
    font-size: 1rem;
    text-align: start;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 6%;
    /* margin: 20px 0; */
    /* max-width: 80%; */
}

.download-btn {
    background-color: #d4af37; 
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #b8972e; /* Slightly darker gold on hover */
}

.palgroup-image {
    height: auto;
    margin: 30px 0;
    width: 35% !important; 
    /* height: 35%;  */
    border: 3px solid transparent;
    border-radius: 20px;
    transition: border 0.3s ease;
  }
  
  .palgroup-image.active {
    border: 4px solid rgba(204, 162, 76, 1);
  }
  .mapgridcol{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
  }
  
