

.section-subtitle {
    font-size: 1.5rem;
    color: #ffffff; 
    margin-bottom: 10px;
    text-align: center;
}

.bnt-close-model {
  background-color: white !important;
  color: black;
  border-radius: 100%;
  padding: 10px;
}

.plan-image {
    width: 55vmax; 
    margin-left: -30px;
    padding-bottom: 15%;
    height: auto;
}
.palgroup-container{
    display: flex;
    gap: 20px;
}
.plans-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin-top: 8%;
    width: 30% !important;
    /* background-color: #d4af37; */
}


.custom-toggle-wrapper {
  background-color: #3d1212; /* Outer dark background */
  border-radius: 999px;
  /* text-align: center; */
  /* padding: 4px; */
}

.custom-toggle-btn {
  background-color: transparent;
  color: #e6dfd0;
  border: none;
  padding: 10px 60px;
  border-radius: 999px;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 100px;
}

.custom-toggle-btn.active {
  background-color: #f2eeda;
  color: #000;
  font-weight: 700;
}
.custom-toggle-btn-mobile-view {
  background-color: transparent;
  color: #e6dfd0;
  border: none;
  padding: 10px 50px;
  border-radius: 999px;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 100px;
}

.custom-toggle-btn-mobile-view.active {
  background-color: #f2eeda;
  color: #000;
  font-weight: 700;
}



.plans-description {
    color: #ffffff; 
    font-size: 1rem;
    text-align: start;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 6%;
}

.download-btn {
    background-color: #d4af37; 
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #b8972e; /* Slightly darker gold on hover */
}

.palgroup-image {
    height: auto;
    margin: 30px 0;
    width: 35% !important; 
    /* height: 35%;  */
    border: 3px solid transparent;
    border-radius: 20px;
    transition: border 0.3s ease;
  }
  
  .palgroup-image.active {
    border: 4px solid rgba(204, 162, 76, 1);
  }
  .mapgridcol{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
  }
  
.map-left-mobile-view{
  width: 50% !important;
}

.mapsideimg-right-mobile-view{
  width: 50% !important;
}
.mobile-plans-view{
  display: none;
}

@media screen and (max-width: 900px) {
  .desktop-plans-view {
    display: none;
  }
  .mobile-plans-view{
    display: block;
  }
  .map-left-mobile-view{
    width: 100% !important;
  }
  .plan-image-mobile-plans-view {
    width: 100%; 
    padding-bottom: 2%;
    height: auto;
}
.plans-content-mobile-plans-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8%;
  /* background-color: #d4af37; */
}
.custom-toggle-wrapper-mobile-plans-view {
  background-color: #3d1212; /* Outer dark background */
  border-radius: 99px;
}
.aa{
  /* style={{display:'flex', justifyContent:'center', alignContent:'center', backgroundColor:'yellow'}} */
  /* margin: 30px 30px 30px 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* padding: 10px 10px 10px 10px; */
  /* background-color: yellow; */
}

.palgroup-image-mobile-view {
  height: auto;
  /* margin: 30px 0; */
  width: 25% !important; 
  /* height: 35%;  */
  border: 3px solid transparent;
  border-radius: 20px;
  transition: border 0.3s ease;
}

.palgroup-image-mobile-view.active {
  border: 4px solid rgba(204, 162, 76, 1);
}
.palgroup-container-mobile-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.plans-description-mobile-view{
  color: #ffffff; 
  font-size: 0.8rem;
  text-align: start;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 6%;
  margin-top: 6%;
}
.mapgridcol-mobile-view{
  width: 100%;
  border-radius: 10px;
}
.mapaddress-mobile-view{
  display: flex;
  gap: 2px;
  font-size: 0.7rem;
  line-height: 0.7rem;
  margin-bottom: 5px;
  margin-top: 5px;
}
}

  /* --------------------------------------------------- mobile css start here --------------------------------------------------- */

/* Show only on mobile screens (max-width: 768px) */
/* @media screen and (max-width: 900px) {
  .mobile-coming-soon {
    display: block;
  } */
  
  /* Optionally hide the full Plans section */
  /* .maincontainer {
    display: none;
  }
} */

/* --------------------------------------------------- mobile css end here --------------------------------------------------- */